/* Regole generali */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.white{
    color: white;
}

.center{
    text-align: center;
}
/* Regole header */

header{
    position: fixed;
    z-index: 100;
    width: 100%;
   
    padding: 15px 5px;
   
    background-color:#f8f9fa;
    
}

#nav-bar-up{
 display: flex;
 align-items: center;
 justify-content: space-between;
 


}

.icon{
    display: flex;
}

.icon i , .icon-responsive button {
    margin: 5px;
    color: #5b5858;
    cursor: pointer;
}

.icon-responsive .fa-bell {
    display: none;
    color: #5b5858;
    padding: 0px 5px;
}

.icon .fa-bell:hover , .icon-responsive .fa-bell:hover{
    color:#ff8f00;
    cursor: pointer;
}

.bar{
    width: 80%;
}

.flex-form{
    display: flex;
}



#search-bar {
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0px 25px;
    width: 100%;
    height: 35px;
    font-size: 18px;
    
}



.lens {
    position: relative;
    left: 20px;
    top: 10px;
  }

.wrapper{
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 100vh;
    background-color: #051e34;
    padding-top:100px ;
}

ul{
    list-style: none;
    
}

li i{
    padding-right: 8px;
    
}

ul li{
    
    padding-bottom: 20px;
    margin-left: 10px;

}

li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.container{
    flex-grow: 1;
    height: 100vh;
    background-color: #f8f9fa;
    overflow-y: scroll;
    width: calc(100% - 120px);
}

.fa-signal{
    font-size: 15px;
}
#nav-container{
    background-color: #1b72e8;
    padding-top: 96px;
    padding-left: 10px;
    padding-right: 124px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;


}
.flex-div{
    display: flex;
    
}

.size{
    font-size: 30px;
}

.btn , .btn-flex{
    border-radius:25px;
    background-color: #165bba;
    border: none;
    cursor: pointer;
    padding: 7px;
    margin-left: 10px;
    
    
    

}

#no-margin {

    margin-left: 0;
   
 
}


.btn-flex{
  
   margin-top: 5px;
}

.plus{
    border-radius: 50%;
    padding: 0px 10px;
    display: none;
}
.adjust{
    align-self: center;
    margin: 5px;
    font-size: 20px;
}

.no-bold{
    font-weight: lighter;
}

/* Responsive nav-container */
@media screen and ( max-width:1100px){
    #nav-container{
        flex-direction: column;
    }
 }

/* Responsive  nav-bar */

@media screen and ( max-width:780px){
   .icon-responsive .fa-bell{
    display:block ;
   }
   .icon i {
    display: none;
   }
   /* Responsive nav-container */
   .bye{
    display:none;
   }
   .plus{
    display: block;
   }
  
}
/* Responsive nav-container */
@media screen and ( max-width:1100px){
    #nav-container{
        flex-direction: column;
    }
    .more-top{
        margin-top: 15px;
       }
 }
 




