/* Regole generali */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.white{
    color: white;
}

.center{
    text-align: center;
}
/* Regole header */

header{
    position: fixed;
    z-index: 100;
    width: 100%;
   
    padding: 15px 5px;
   
    background-color:#f8f9fa;
    
}

#nav-bar-up{
 display: flex;
 align-items: center;
 justify-content: space-between;
 


}

.icon{
    display: flex;
}

.icon i , .icon-responsive button {
    margin: 5px;
    color: #5b5858;
    cursor: pointer;
}

.icon-responsive .fa-bell {
    display: none;
    color: #5b5858;
    padding: 0px 5px;
}

.icon .fa-bell:hover , .icon-responsive .fa-bell:hover{
    color:#ff8f00;
    cursor: pointer;
}

.bar{
    width: 80%;
}




#search-bar {
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0px 25px;
    width: 100%;
    height: 35px;
    font-size: 18px;
    
}



.lens {
    position: relative;
    left: 20px;
    top: 10px;
  }

.dropbtn{
    border:none;
    background-color:transparent; 
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color:#1b72e8;
    color:white

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e5e5e5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 2px;
  
}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
}
  
  
  
.wrapper{
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 100vh;
    background-color: #051e34;
    padding-top:100px ;
}

ul{
    list-style: none;
    
}

li i{
    padding-right: 8px;
    
}

ul li{
    
    padding: 10px;
   
    transition: ease-in-out 0.5s;

}

li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
   
    
}

ul li:hover {
    background-color: #e7bcbc;
    
}

.container{
    flex-grow: 1;
    height: 100vh;
    background-color: #f8f9fa;
    overflow-y: scroll;
    width: calc(100% - 120px);
}

.fa-signal{
    font-size: 15px;
}
#nav-container{
    background-color: #1b72e8;
    padding-top: 96px;
    padding-left: 10px;
    padding-right: 124px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;


}


.size{
    font-size: 30px;
}

.btn , .btn-flex{
    border-radius:25px;
    background-color: #165bba;
    border: none;
    cursor: pointer;
    padding: 7px;
    margin-left: 10px;
    
    
    

}

#no-margin {

    margin-left: 0;
   
 
}



.btn-flex{
  
   margin-top: 5px;
}

.plus{
    border-radius: 50%;
    padding: 0px 10px;
    display: none;
}
.adjust{
    align-self: center;
    margin: 5px;
    font-size: 20px;
}

.no-bold{
    font-weight: lighter;
}

.container-flex{
    display: flex;
}

.flex{
    display: flex;
    justify-content: space-between;
}


.flex-div{
    display:flex
}

.first-box{
    width: calc(60% - 40px);
    min-height: 300px;
    margin: 10px;
   
    
    
  
}


.first-box , .second-box {
    border-radius: 10px;
    border: 1px solid #dee2e6;
}

.add-class{
    border-bottom: #dee2e6 1px solid ;
    padding: 10px;
    background-color: #f7f7f7;
}

.add-btn {
    color: #0d6efd;
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    transition: all 1s ;
  }
  .add-class .add-btn:hover{
    
    color: white;
    background-color:  #0d6efd;
    cursor: pointer;
  }
 
.second-box{
    width:calc(40% - 40px);
    height: 300px;
    margin: 10px;
    
}

table{
    font-size: 13px;
}

tr{
    border: 1px solid #dee2e6;
}

.col-large{
 width: calc(100% / 5 * 3);
 display: flex;
 justify-items: center;

}

.col{
    width: calc(100% /5);
    padding-left: 25px;
    
}

.col-large , .col {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.fa-code {
    color: white;
    background-color: #f16450;
    font-size: 15px;
    padding: 6px 4px;
    border: ;
    border-radius: 50%;
  }

  .align{
    align-self: center;
    padding-left: 5px;
  }

.row{
    display: flex;
    padding:10px;
    font-size: 12px;
    
    
}

.label{
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.done{
    background-color: #198754;
}


.action{
    
}
/* Responsive nav-container */
@media screen and ( max-width:1100px){
    #nav-container{
        flex-direction: column;
    }
 }

/* Responsive  nav-bar */

@media screen and ( max-width:780px){
   .none{
    display: none;
   }
   .icon i {
    display: none;
   }
   /* Responsive nav-container */
   .bye{
    display:none;
   }
   .plus{
    display: block;
   }
   .dropdown .fa-bell{
    display: block;
   }

   /* Responsive Aside */

   .container{
    
    width:100%;
}

.big{
    font-size: 30px;
}

ul li {
    padding: 10px 25px;
}


  
}
/* Responsive nav-container */
@media screen and ( max-width:1100px){
    #nav-container{
        flex-direction: column;
    }
    .more-top{
        margin-top: 15px;
       }
 }
 



