/* Regole generali */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Regole header */

header{
    position: fixed;
    z-index: 100;
    width: 100%;
   
    padding: 15px 5px;
   
    background-color:#f8f9fa;
    
}

#nav-bar-up{
 display: flex;
 align-items: center;
 justify-content: space-between;
 


}

.icon{
    display: flex;
}

.icon i , .icon-responsive button {
    margin: 5px;
    color: #5b5858;
    cursor: pointer;
}

.icon-responsive .fa-bell {
    display: none;
    color: #5b5858;
    padding: 0px 5px;
}

.icon .fa-bell:hover , .icon-responsive .fa-bell:hover{
    color:#ff8f00;
    cursor: pointer;
}

.bar{
    width: 80%;
}

.flex-form{
    display: flex;
}

.btn{
    padding: 5px;
    font-size: 15px;
}

#search-bar {
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0px 25px;
    width: 100%;
    height: 35px;
    font-size: 18px;
    
}



.lens {
    position: relative;
    left: 20px;
    top: 10px;
  }

.wrapper{
    display: flex;
}

aside{
    width: 100px;
    height: 100vh;

    /* Debug */
    background-color: blueviolet;
}
.container{
    flex-grow: 1;
    height: 100vh;
    background-color: chocolate;
    overflow-y: scroll;
    width: calc(100% - 100px);
}

#nav-container{
    width: 100%;

    /* debug */
    height: 150px;
    background-color: cadetblue;

}



/* Responsive  nav-bar */

@media screen and ( max-width:780px){
   .icon-responsive .fa-bell{
    display:block ;
   }
   .icon i {
    display: none;
   }
}




